/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.03.2015., 10:22:34
    Author     : Nikola
*/
header {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #4c0404;
    background-color: #eee9e9;
    background-size: 260px;
    background-image: none;
    

}
.navigacija{
    display: inline-block;
    padding: 5px 5px;
    width: 80%;
    float: start;
}
.navigacija > ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.navigacija>ul li{
    width: 100%;
}
.navigacija > ul li a {
    display: block;
    color: #4c0404;
    text-decoration: none;
    text-transform: uppercase; 
    border-width: 2px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    line-height: 2em;
}
section#sadrzaj {
    text-align: left;
    padding: 5px 5px;
    margin-left: 10px;
    width: 70%;
    float: bottom;
    margin-bottom: 10px;
}
.sakrij{
    display: none;
}
img{
    width:100%
}
table{
    width: 100%;
}
form{
    width: 100%;
}
address>a img{
    width: 12%;
}